body {
    background-color:#5a255f;
    color:#f1c90c;
    font-family:  Verdana, Arial,  Andale Mono, sans-serif;
    font-size:1em;
    padding:0;
    margin:0;
    line-height:130%;
    text-align: center;
}

p {
    font-size:0.8em;
    margin:0.5em 0em 0.8em 200px;
}

p.firstP {
    margin:0.1em 0em 1.4em 200px;
}

.clear {
    clear:both;
}

#mainbody p {
    text-align:justify;
}

#lapage {
    margin:0px auto 0px auto;
    width:46em;
    text-align: left;
}

#mainbody {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#mainbody a {
    text-decoration:none;
    color:#FFF;
}

#mainbody a:hover {
    text-decoration:none;
    color:#ff3123;
}

.error {
    text-transform:none;
    color:#F00;
}

#mainMenu {
    margin: 3em 0px 2em 200px;
    letter-spacing: 0.1em;
    font-size: 0.9em;
}

#mainMenu a, #toppage a {
    text-decoration:none;
    vertical-align: bottom;
    color:#faf200;
    margin:0;
    padding:0;
    padding-bottom:1px;
}

#mainMenu a:hover, #toppage a:hover {
    background:url(images/underline.gif) repeat-x left bottom;
    color:#FFF;
}

#mainMenu a.current, #toppage a.current  {
    color:#00FF00;
    background:url(images/underline.gif) repeat-x left bottom;
}

#mainMenu a.current em.key, #toppage a.current em.key {
    background:none;
}

#mainMenu a:hover em.key, #toppage a:hover em.key {
    background:none;
}

#mainMenu ul {
    list-style:none;
    margin:0px 0px 0px 0px;
    padding:0;
    font-size:0.8em;
}

#mainMenu ul li {
    display:inline;
    margin:0em 1em 0em 0em;
}

#toppage {
    margin: 0px 0px 0px 0px;
    font-size: 0.7em;
    text-align:right;
}

#toppage ul {
    list-style:none;
    padding:0;
    margin:0;
}

#toppage ul li {
    display:inline;
    margin:0em 0em 0em 1em;
}

.menuLost {
    padding-left:14px;
}

.menuPapers {
    padding-left:14px;
}

.menuCourses {
    padding-left:14px;
}

.menuSoftware {
    padding-left:14px;
}

.menuBackground {
    padding-left:14px;
}

.menuHome {
}

em.key {
    background:url(images/underline.gif) repeat-x left bottom;
    text-transform: uppercase;
    text-decoration:none;
    font-style:normal;
    font-weight:normal;
    padding-bottom:1px;
}

h2 {
    font-size:1.1em;
    font-weight:normal;
    letter-spacing:0.4em;
    word-spacing:0.5em;
    text-transform:uppercase;
    font-family:  Verdana, Andale Mono, Trebuchet, Arial,   sans-serif;
    font-weight:normal;
    margin: 2.2em 0px 0px 200px;
    line-height: 1.5em;
    clear:both;
}

h3 {
    font-size:0.8em;
    font-weight:normal;
    margin: 1.5em 0em 0.4em 200px;
}

h4 {
    font-size:0.7em;
    font-weight:normal;
    margin: 1.5em 0em 0.4em 200px;
    line-height: 0.9em;
    padding-top:10px;
}

#footer {
    clear:left;
    background:url(images/underline.gif) repeat-x left top;
    margin: 1.5em 0px 0px 200px;
    padding-top:5px;
}

#mainbody div.side {
    color:#ff3123;
    margin:0px 0px 0px 0px;
    padding:0;
    float:left;
    position:fixed;
    width:190px;
    line-height:120%;
}

#mainbody div.side h3 {
    font-size: 0.7em;
    margin:0px 0px 0.2em 0px;
    padding-top:0px;
}

#mainbody div.side p {
    width:165px;
    margin:0px 0px 2em 0px;
    padding:0px;
    font-size:0.7em;
    text-align: left;
}

#mainbody div.side ul {
    width:165px;
    margin:0px 0px 2em 0px;
    padding:0px;
    font-size:0.7em;
    list-style:none;
    border-top:1px solid #444;
}

#mainbody div.side ul li {
    text-align:right;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    text-transform:lowercase;
    border-bottom:1px solid #444;
}

#mainbody div.side ul li.entry {
    text-align:left;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    text-transform:lowercase;
    border-bottom:1px solid #444;
}

#mainbody div.side ul li.entry a {
    display:block;
    color:#dbdf00;
    text-transform:lowercase;
    border:none;
    text-decoration:none;
    background:none;
}

#mainbody div.side ul li.entry a.current {
    background: none;
    border: none;
    color: #FFF;
}

#mainbody div.side ul li.entry a.current:hover {
    color: #FFF;
}

#mainbody div.side ul li.entry a:before {
    content: "\2750 \0020";
}

#mainbody div.side ul li.entry a:hover {
    color:#cc9;
    background-color: #7e1025;
}

#publications {
    margin:0px 0px 0px 200px;
}

#publications ul {
    margin:0px;
    margin-left:-7px;
    padding:0px;
    list-style:none;
    line-height:1em;
}

#publications ul li {
    float:left;
    margin:0px 5px 10px 0px;
    width:14em;
}

#publications ul li a {
    color:#faf200;
    background: none;
    display: block;
    padding:3px;
    padding-left:5px;
    padding-bottom:0px;
}

#publications ul li a span.name {
    color:#3ef70f;
    font-size:0.7em;
    font-weight:normal;
    margin-bottom:2px;
    display: block;
}

#publications ul li a:hover {
    color:#FFF;
    border:none;
    background:url(images/aubergine.gif) no-repeat left top;
}

#publications ul li a span.details {
    font-size:0.8em;
    margin-bottom:0px;
}

#publications ul li a:hover span.details {
    color:#faf200;
}

#publications a.comments {
    font-size: 0.7em;
    background: none;
    display: inline;
}

#publications a.comments:hover {
    font-size: 0.7em;
    background: none;
    color:#FFF;
}

ul.pages {
    clear:left;
    margin:0px 0px 1em 197px;;
    padding:0px;
    text-align:left;
    list-style:none;
    font-size:0.8em;
}

ul.pages li {
    margin:0px 3px 0px 3px;
    display:inline;
}

ul.pages li.current {
    font-weight:bold;
}

#footnote li, #footnote li a {
    font:normal 10px verdana,sans-serif;
    color:#cc9;
    text-decoration:none;
}
