/*

D8004D  fraise
1F1448  noir
141718  noir plus claire
919191  gris moins clair
A7A8A9  gris clair
EFEFEF  gris ters clair
575BB8  violet

*/




body {
    background-color:#141718;
    color:#FFFFFF;
    font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Verdana, Arial,  Andale Mono, sans-serif;
    font-size:1.2em;
    padding:0;
    margin:0;
    line-height:120%;
    text-align: center;
}

p {
    font-size:0.8em;
    margin:0.5em 0em 0.8em 64px;
}

p.firstP {
    margin:0.1em 0em 1.4em 64px;
}

.clear {
    clear:both;
}

#mainbody p {
    text-align:justify;
}

#lapage {
    margin:0px 64px 0px 10px;
    width:48em;
    text-align:left;
}

#mainbody {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#mainbody a {
    text-decoration:none;
    color:#FFFFFF;
}

#mainbody a:hover {
    text-decoration:none;
    color:#D8004D;
}

.error {
    text-transform:none;
    color:#FFF;
}

#mainMenu {
    margin: 3em 0px 2em 64px;
    font-size: 1.1em;
}

#mainMenu a {
    text-decoration:none;
    vertical-align: bottom;
    color:#575BB8;
    margin:0;
    padding:0;
    padding-bottom:1px;
}

#mainMenu a:hover {
    background:none;
    color:#D8004D;
    background:url(images/underline.gif) repeat-x left bottom;
}

#mainMenu a.current {
    color:D8004D;
    background:url(images/underline.gif) repeat-x left bottom;
}

#mainMenu a.current em.key {
    background:none;
}

#mainMenu a:hover em.key {
    background:none;
}

#mainMenu ul {
    list-style:none;
    margin:0px 0px 0px 0px;
    padding:0;
    font-size:0.8em;
}

#mainMenu ul li {
    display:inline;
    margin:0em 2em 0em 0em;
}

.menuPapers {
    padding-left:0px;
}

.menuCourses {
    padding-left:0px;
}

.menuSoftware {
    padding-left:0px;
}

.menuStudents {
    padding-left:0px;
}

.menuBackground {
    padding-left:0px;
}

.menuHome {
}

em.key {
    text-transform: uppercase;
    text-decoration:none;
    font-style:normal;
    font-weight:lighter;
    padding-bottom:1px;
}

h2 {
    font-size:1.0em;
    font-weight:normal;
    letter-spacing:0.4em;
    word-spacing:0.5em;
    text-transform:uppercase;
    font-family:  Verdana, Andale Mono, Trebuchet, Arial,   sans-serif;
    font-weight:normal;
    margin: 2.2em 0px 0px 64px;
    line-height: 1.5em;
    clear:both;
}

h3 {
    font-size:0.9em;
    font-weight:normal;
    margin: 1.5em 0em 0.4em 64px;
}

h4 {
    font-size:0.7em;
    font-weight:normal;
    margin: 1.5em 0em 0.4em 64px;
    line-height: 0.9em;
    padding-top:10px;
}

#footer {
    clear:left;
    margin: 1.5em 0px 0px 64px;
    padding-top:8px;
    border-top: 1px solid #A7A8A9;
    font:normal 10px verdana,sans-serif;
    color:#FFFFFF;
    text-decoration:none;
}

#publications {
    margin:0px 0px 0px 64px;
}

#publications ul {
    margin:0px;
    margin-left:-7px;
    padding:0px;
    list-style:none;
    line-height:1em;
}

#publications ul li {
    float:left;
    margin:0px 5px 10px 0px;
    width:46em;
}

#publications ul li a {
    color:#1F1448;
    background: none;
    display: block;
    padding:8px;
    padding-left:4px;
    padding-bottom:0px;
}

#publications ul li a span.auteurs {
    color:#EFEFEF;
    display: inline-block;
    font-size:0.8em;
    font-weight:lighter;
    font-style: italic;
    margin-bottom:8px;
    width:47.2em;
    display: block;
    background:none;
}

.right-arrow:after {
   content: "\2192";
}
#publications ul li a span.lapub{
    color:#FFFFFF;
    font-size:0.8em;
    font-weight:normal;
    margin-bottom:0px;
    width:42em;
    display: block;
    background:none;
} 

/* une petite fleche */
#publications ul li a span.lapub::after {
    position: relative;
    font-size:1.8em;
    display: inline-block;
    color:#D8004D;
    content: "\2192";
}


#publications ul li a:hover span.lapub {
    color:#000000;
    border:none;
    display: block;
    background:#CBCAC7
}

ul.pages {
    clear:left;
    margin:0px 0px 1em 197px;;
    padding:0px;
    text-align:left;
    list-style:none;
    font-size:0.8em;
}

ul.pages li {
    margin:0px 3px 0px 3px;
    display:inline;
}

ul.pages li.current {
    font-weight:bold;
}

td.entry
{
    text-align: left;
    text-indent: 0px;
    font-family: Verdana;
    font-size: 1.0em;
    border-collapse: collapse;
}
td.title
{
    text-align: left;
    text-indent: 0px;
    font-family: Verdana;
    font-size: 1.0em;
    color:#FFF;
}

td.cell
{ 
    text-align: left;
    text-indent: 0px;
    font-family: Verdana;
    font-weight: normal;
    font-size: 1.0em;
}

